body {
  min-height: 1000px;
  padding-top: 70px;
  background-color: #BDBDBD;
}

/* navbar 全体の背景色とボーダーカラー */
.navbar-default {
background-color: #F44336;
border-color: #4CAF50;
}

/* navbar テキストカラー */
.navbar-default .navbar-nav > li > a {
color: #FFFFFF;
}

/* navbar ハンバーガー三本線 */
.navbar-default .navbar-toggle .icon-bar {
background-color: #FFFFFF;
}

.img-responsive-overwrite{
    margin: 0 auto;
}

.jumbotron {
  margin-bottom:1px;
  background-color: #FFFFFF;
}

#entry-title {
   font-size:48px;
   font-weight:bold;
}